body {
    font-family: "Montserrat", sans-serif;
}


.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header-logo {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em; 
}
.header-logo-italic{
    font-style: italic;
}
.header-menu-link {
    color: #111;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.02em;
}

.hero {
background-color: rgba(17, 17, 17, 0.60);
}
.hero-title {
    color: #FFF;
font-size: 28px;
font-weight: 500;
line-height: 1.21;
letter-spacing: -0.03em;
}
.hero-btn {
    color: #FFF;
font-family: inherit;
font-size: 14px;
font-weight: 600;
line-height: normal;
}
.hero-link-btn {
    color: #FFF;
font-size: 14px;
font-weight: 600;
}
.hero-down-btn {
    color: #FFF;
font-size: 14px;
font-weight: 500;
line-height: 1.29;
letter-spacing: -0.03em;
}
.advantages-list {
}
.advantages-items {
}
.advantages-subtitle {
}
.advantages-item-text {
}